HOST=0.0.0.0
PORT=1337
APP_KEYS=2RVklGZAqsJP+/ygLPB9aQ==,RBVwxEGOaaU+3LHNo4zkWg==,VGQF9tTn7IEyAtzqC4U9Gg==,1vwreS4n2mLWh6liZNFLFQ==
API_TOKEN_SALT=K6Nt9qrSc0aq5+nbRh9K0g==
ADMIN_JWT_SECRET=tzxExLaHYexfcCLrgyoD1g==
TRANSFER_TOKEN_SALT=75U3rVgfFRe22CH14fyGog==
# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=strapiDB
DATABASE_PORT=5432
DATABASE_NAME=nextjs_news_postgres
DATABASE_USERNAME=nextjs_news
DATABASE_PASSWORD=Admin@123
DATABASE_SSL=false
JWT_SECRET=W6MvlVeBQs6QDm0BkLDpbQ==

MEILISEARCH_HOST=meilisearch:7700
MEILISEARCH_API_KEY=masterKey
NODE_ENV=development

# ID CATEGORY
TECHNICAL=1
TRAVEL=2
FOOD=3
SHOPPING=4
VEHICLE=5
BEAUTIFY=6
REAL_ESTATE=7
ENTERPRISE=8
EVENT=9
